<h1>
    Feature Module Sample
</h1>
  
<button type="button" routerLink="/customer">Customers</button>
<button type="button" routerLink="/customer/order-history">Orders</button>
<button type="button" routerLink="">Home</button>